<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management Portal</title>

    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/alignment.css">
</head>
<body>
    

    <section id="add" class="align align-ver">
    
        <h1>Student Management Portal</h1>

        <form action="" class="align align-ver" method="post">
            <input type="text" name="name" placeholder="Enter student's name" required>
            <input type="text"  name="fname" placeholder="Enter student's father's name" required>
            <input type="text"  name="mname" placeholder="Enter student's mother's name" required>
            <input type="text name="age" placeholder="Enter student's age name" required>
            <input type="text" va name="address" placeholder="Enter student's address name" required>
            <input type="text" name="date" placeholder="Enter student's registration date name" required>

            <div class="btn-grp align-sec">
                <button type="submit">Add</button>
                <button type="reset">Reset</button>
            </div>
        </form>
    
    </section>


</body>
</html>