<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Inventory | Login Portal</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/util.css">
    <link rel="stylesheet" href="../css/recovery.css">
</head>

<body>

    <section class="align align-ver" id="heading">
        <h1 class="h-primary">RECOVERY PORTAL</h1>
    </section>

    <section class="align align-ver" id="recovery">

        <div class="align-sec validation">

            <form action="#" class="align-sec" method="post">
                <input type="text" class="inps" placeholder="Enter your registered email" required name="email">
                <input type="submit" class="inps" value="Submit">
                <input type="number" class="inps" placeholder="OTP" required name="otp" id="otp">
                <input type="submit" class="inps" value="Validate" id="validateBtn">
            </form>

        </div>

        <div class="align-sec validation">

            <form action="#" class="align-sec" method="post">
                <input type="password" class="inps sp-inp" placeholder="Enter your new password" required name="password" id="password">
                <input type="password" class="inps sp-inp" placeholder="Re-enter your new password" required name="rpassword" id="rpassword">
                <input type="submit" class="inps" value="Change" id="changeBtn">
            </form>

        </div>

    </section>

    <footer class="align">
        <p class="paras">Copyright &copy; 2022 | All rights are reserved.</p>
    </footer>

    <script src="../js/recovery.js"></script>

</body>
</html>