<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer</title>

    <link rel="stylesheet" href="../css/template_7.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>
</head>

<body>

    <div class="navbar align">

        <div class="nav-brand align">
            <p> Personal Trainer</p>
        </div>

        <div class="nav-content align">

            <ul class="align">
                <li><a href="#">Home</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Landing</a></li>
                <li><a href="#"><img src="../images/cart.png" alt="Image"></a></li>
            </ul>

        </div>
    </div>

    <section id="home" class="align">

        <div class="home-container align">

            <h1 class="h-primary">Hi, I'm your personal trainer</h1>

        </div>

        <div class="home-container align align-ver content">

            <p>Invest in your health</p>

            <div class="bar">
                <div class="left-bar"></div>
                <div class="right-bar"></div>
            </div>

            <h3 class="h-tertiary">TRAINING BY BRANDY RIGHT</h3>
            <button class="btn" id="button1" type="button">Get Started &raquo;</button>
        </div>

    </section>


    <section id="assesment" class="align align-ver">

        <div class="left align">
            <h1 class="h-primary">10N1</h1>
        </div>


        <div class="container align">

            <div class="con-container align active">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis repudiandae sunt molestias
                    quasi modi nisi, dolore eos odit iste eius neque in impedit. Nobis tenetur illum quaerat nisi?
                    Obcaecati quae animi, modi adipisci minus impedit cumque accusantium provident ipsum itaque officiis
                    eaque iste eveniet sequi quis ipsa! Beatae, libero!</p>

            </div>

            <div class="con-container align">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis repudiandae sunt molestias
                    quasi modi nisi, dolore eos odit iste eius neque in impedit. Nobis tenetur illum quaerat nisi?
                    Obcaecati quae animi, modi adipisci minus impedit cumque accusantium provident ipsum itaque officiis
                    eaque iste eveniet sequi quis ipsa! Beatae, libero!</p>

            </div>

            <div class="con-container align">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis perferendis repudiandae sunt molestias
                    quasi modi nisi, dolore eos odit iste eius neque in impedit. Nobis tenetur illum quaerat nisi?
                    Obcaecati quae animi, modi adipisci minus impedit cumque accusantium provident ipsum itaque officiis
                    eaque iste eveniet sequi quis ipsa! Beatae, libero!</p>

            </div>

        </div>

        <button class="btn" id="button2" type="button">
            <p>BOOK AN ASSESMENT &raquo;</p>
        </button>

    </section>

    <section id="shape" class="align">

        <div class="container align align-ver active">
        </div>

        <div class="container align align-ver"></div>

    </section>


    <section id="banners" class="align">

        <div class="container align align-ver">
            <img src="../images/certified.png" alt="Image">
            <h3 class="h-tertiary">CERTIFIED TRAINER</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi corporis repudiandae rem voluptas odit ipsa magnam fuga! Magni velit fugit doloremque exercitationem eligendi recusandae ratione maiores, necessitatibus impedit quibusdam eveniet neque ea error explicabo incidunt eum, beatae esse earum reprehenderit voluptatum inventore! Unde consequuntur voluptas et. Unde rerum cum repudiandae!</p>
        </div>

        <div class="container align align-ver active">
            <img src="../images/sports.png" alt="Image">
            <h2 class="h-secondary">SPORTS & NUTRITION</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat doloribus iure, reiciendis quam debitis perferendis blanditiis a, quod impedit facere ipsa nam quasi quia! Sapiente, rem quae? Exercitationem, sunt! Reprehenderit!</p>
        </div>

        <div class="container align align-ver">
            <img src="../images/therapy.png" alt="Image">
            <h3 class="h-tertiary">PHYSICAL THERAPY</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi corporis repudiandae rem voluptas odit ipsa magnam fuga! Magni velit fugit doloremque exercitationem eligendi recusandae ratione maiores, necessitatibus impedit quibusdam eveniet neque ea error explicabo incidunt eum, beatae esse earum reprehenderit voluptatum inventore! Unde consequuntur voluptas et. Unde rerum cum repudiandae!</p>
        </div>

    </section>


    <section id="offers" class="align">

        <div class="container align align-ver">
            <h1 class="h-primary">OFFERS & DETAILS</h1>

            <ul class="align align-ver">
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
                <li>Lorem ipsum dolor sit amet.</li>
            </ul>

            <button class="btn" id="button3" type="button">CONTACT ME &raquo;</button>
        </div>

        <div class="container align active">
        </div>

    </section>
</body>

</html>