<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Inventory | Login Portal</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_19.css">
    <link rel="stylesheet" href="../css/util.css">
</head>

<body>

    <section id="login" class="align">

        <div class="container align align-ver main">
            <img src="../images/login.png" alt="Login">
        </div>

        <div class="container align align-ver">
            
            <div class="align align-ver content sm-container">
                <h1 class="h-primary">LOGIN PORTAL</h1>
            </div>

            <div class="align align-ver content">

                <div class="align" id="cnf_msg"></div>
                
                <form action="#" class="align align-ver" method="post">
                    <input type="text" class="inps" placeholder="Enter your username" required>
                    <input type="password" class="inps" placeholder="Enter your password" required>
                    <button class="btn success-btn" type="submit">Login</button>
                    <a href="#">Recover your password</a>
                    <a href="#">Register yourself</a>
                </form>

            </div>
        
        </div>

    </section>

</body>
</html>