<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_15.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/util.css">

</head>
<body>

    <section class="align-def align-ver" id="home">

        <div class="navbar align">

            <div class="nav-brand align">
                <p>JUSTICE</p>
            </div>

            <div class="nav-content align">

                <ul class="align">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Attorneys</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>

        </div>

    </section>

    <section class="align-def align-ver" id="messages">

        <div class="align align-ver">
            <h1 class="h-primary">MESSAGES</h1>
        </div>

        <div class="align-def align-ver content">

            <table id="data">

                <tr>
                    <th>Customer Name</th>
                    <th>Customer Email</th>
                    <th>Customer Phone</th>
                    <th>Customer Message</th>
                </tr>

                <tr>
                    <td>Gaurav Sahitya</td>
                    <td>sahityagaurav.41125@gmail.com</td>
                    <td>8837573143</td>
                    <td><a href="#">View Message</a></td>
                </tr>

                <tr>
                    <td>Dheeraj Kumar</td>
                    <td>dheerajkumar12757@gmail.com</td>
                    <td>6284501227</td>
                    <td><a href="#">View Message</a></td>
                </tr>


                <tr>
                    <td>Gurkirat Kaur</td>
                    <td>gkklayal01@gmail.com</td>
                    <td>8146926649</td>
                    <td><a href="#">View Message</a></td>
                </tr>

            </table>

        </div>

    </section>

    <footer class="align align-ver">
        
        <p class="paras">Copyright &copy; 2022, All rights are reserved</p>

        <ul class="align">
            <li class="align"><a href="#container">Home</a></li>
            <li class="align"><a href="#">Services</a></li>
            <li class="align"><a href="#">Attorneys</a></li>
            <li class="align"><a href="#">About Us</a></li>
            <li class="align"><a href="#contact">Contact Us</a></li>
        </ul>
    </footer>
    
</body>
</html>