<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Template</title>

    <link rel="stylesheet" href="../css/template_1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/dcf9f5d1bd.js"></script>

</head>

<body>

    <header>

        <div class="navbar">

            <ul>
                <li>Home</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li>Gallery</li>
            </ul>

        </div>

    </header>


    <section id="home">

        <h1 class="h-primary">WELCOME TO OUR SITE</h1>

        <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia at, ea possimus pariatur
            dignissimos itaque fugit eaque sed cumque dicta.</p>

        <button class="btns" id="button1" type="button">Learn More &raquo;</button>
    </section>


    <section id="contact">

        <div class="sup-con">


            <div class="contact-con">

                <div class="cont-content">

                    <div class="cont-content cont-info">

                        <img src="../images/email.png" alt="Image not found" class="imgs">
                        <p class="sm-para">sahityagaurav.41125@gmail.com</p>

                    </div>

                    <div class="cont-content cont-info">

                        <img src="../images/phone.png" alt="Image not found" class="imgs">
                        <p class="sm-para">+91 - 8897893143</p>

                    </div>

                </div>


                <div class="cont-content">

                    <div class="cont-content cont-info">

                        <img src="../images/location.png" alt="Image not found" class="imgs">
                        <p class="sm-para">Ludhiana, Punjab, India</p>

                    </div>

                    <div class="cont-content cont-info">

                        <img src="../images/time.png" alt="Image not found" class="imgs">
                        <p class="sm-para">10:00AM - 4:00PM (Sunday Close)</p>

                    </div>

                </div>

            </div>

            <div class="contact-con sp-cont-con">

                <div class="contact-shadow" id="shadow1">
                    <img src="../images/form_success.png" alt="Image not found" id="image1">
                    <p class="paras" id="label1">Your form has been submitted, our team will reach to you shortly...</p>
                </div>

                <form id="form1" autocomplete="off">

                    <h2 class="h-secondary">Contact Form</h2>

                    <input type="text" class="inps pc-inp" id="textBox1" placeholder="Enter your name" required>
                    <input type="email" class="inps" id="textBox2" placeholder="Enter your email" required>
                    <textarea id="textBox3" cols="60" rows="60" placeholder="Enter your message here"
                        class="inps sp-inp" required></textarea>
                    <button class="btns sp-btn" id="button2" type="button">Submit</button>

                </form>
            </div>


        </div>

    </section>


    <section id="services">

        <h1 class="h-primary">What we do?</h1>

        <div class="cont-content sp-container">

            <div class="cont-content content-info">

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/windows.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Windows app development</p>

                </div>

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/ios.png" alt="Image not found" class="imgs">
                    <p class="sm-para">iOS development using swift</p>

                </div>


                <div class="cont-content cont-info sm-cont">

                    <img src="../images/web_design.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Web development</p>

                </div>

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/android.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Android development</p>

                </div>

            </div>

            <div class="cont-content content-info">

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/training.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Training</p>

                </div>

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/ai.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Artificial Intelligence</p>

                </div>

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/ml.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Machine Learning</p>

                </div>

                <div class="cont-content cont-info sm-cont">

                    <img src="../images/servers.png" alt="Image not found" class="imgs">
                    <p class="sm-para">Server Administration</p>

                </div>
            </div>

    </section>


    <section id="about">


        <div class="abt-container">

            <h1 class="h-primary">About Us</h1>
            <p class="paras gn-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque optio labore assumenda ipsam eveniet consectetur repellat quaerat. Incidunt deserunt recusandae, aspernatur vel odit labore nesciunt est dolorem voluptatem repudiandae officia laboriosam dicta doloremque quaerat esse non unde ipsum animi vitae explicabo beatae porro nobis. Earum odit possimus magnam cupiditate nesciunt officia iure cum excepturi at aliquam eius asperiores soluta mollitia illo sint, eum, nihil dolores, aperiam accusantium eos. Ex ullam reiciendis excepturi soluta officiis enim debitis voluptates deleniti voluptatem nemo perferendis error similique illo quod unde odio quae ipsum sit id distinctio, fugiat quisquam quibusdam? Laboriosam quidem tenetur libero commodi.</p>

        </div>


    </section>


    <footer>

        <div class="bottom footer-head">

            <a href="#" class="link">Admin Panel</a>
            <a href="#" class="link">Register yourself</a>
            <a href="#" class="link">Login into your dashboard</a>
            <a href="#" class="link">Back to top</a>
            <a href="#" class="link">Image Gallery</a>

        </div>

        <div class="bottom footer-bottom">

            <img src="../images/facebook.png" alt="Icon not found" class="ico" title="Facebook">
            <img src="../images/instagram.png" alt="Icon not found" class="ico" title="Instagram">
            <img src="../images/youtube.png" alt="Icon not found" class="ico" title="YouTube">
            <img src="../images/twitter.png" alt="Icon not found" class="ico" title="Twitter">

        </div>

    </footer>
    
    
    
    <script src="../js/template_1.js"></script>


</body>

</html>