<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_15.css">
    <link rel="stylesheet" href="../css/template_16.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/util.css">

</head>
<body>

    <section class="align-def align-ver" id="home">

        <div class="navbar align">

            <div class="nav-brand align">
                <p>JUSTICE</p>
            </div>

            <div class="nav-content align">

                <ul class="align">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Attorneys</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>

        </div>

    </section>

    <section class="align align-ver" id="messages">

        <div class="align-def align-ver container">

            <div class="align align-ver" id="header">
                <h1 class="h-primary">Are you sure </h1>
            </div>

            <div class="align align-ver" id="content">
                <p class="paras">Hi my name is Gaurav Sahitya. I have completed my BTech degree in Electronics and Communication Engineering from Guru Nanak Dev Engineering College, Ludhiana - 141006 recently.</p>
            </div>

            <div class="align-sec" id="footer">
                <button class="btn" type="button">Delete</button>
                <button class="btn" type="button">Cancel</button>
            </div>

        </div>

    </section>

    <footer class="align align-ver">
        
        <p class="paras">Copyright &copy; 2022, All rights are reserved</p>

        <ul class="align">
            <li class="align"><a href="#container">Home</a></li>
            <li class="align"><a href="#">Services</a></li>
            <li class="align"><a href="#">Attorneys</a></li>
            <li class="align"><a href="#">About Us</a></li>
            <li class="align"><a href="#contact">Contact Us</a></li>
        </ul>
    </footer>
    
</body>
</html>