<!--
    Author : Gaurav Sahitya
    Subject : Inventory Management System
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS INVENTORY</title>

    <!-- CSS File Linkage-->

    <link rel="stylesheet" href="../css/template_17.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/util.css">
    <link rel="stylesheet" href="../css/alignment.css">

</head>
<body>

    <section class="align align-ver" id="panel">

        <div class="container align align-ver">
            <h1 class="h-primary">BOOK INVENTORY MANAGEMENT</h1>
        </div>

        <div class="container align  main">

            <div class="content align">

                <div class="align con-content align-ver curve-around-left">
                    
                    <h3 class="h-tertiary">REGISTER YOUR STORE WITH US</h3>
                    <p class="paras">Create an account of yours with us and register your store and start adding and managing your inventory effectively.</p>

                </div>

                <div class="align sm-container-x">
                    <button type="button" id="button1" class="btn">Proceed</button>
                </div>

            </div>

            <div class="content align">

                <div class="align sm-container-x">
                    <button type="button" id="button2" class="btn">Proceed</button>
                </div>

                <div class="align con-content align-ver curve-around-right">
                    
                    <h3 class="h-tertiary">LOGIN INTO YOUR STORE</h3>
                    <p class="paras">Login into your store and start managing it in an effective manner.</p>

                </div>

            </div>

        </div>


    </section>

</body>
</html>