<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_13.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/util.css">

</head>

<body>

    <section class="align-def align-ver" id="home">

        <div class="navbar align">

            <div class="nav-brand align">
                <p>JUSTICE</p>
            </div>

            <div class="nav-content align">

                <ul class="align">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Attorneys</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>

        </div>

    </section>


    <section class="align" id="container">

        <div class="content align">
            <img src="../images/lawyer.jpg" alt="Lawyer">
        </div>

        <div class="content align align-ver">

            <div class="align-def">
                <h1 class="h-primary">We Fight For Your Right</h1>
            </div>

            <div class="align-def sm-container-y">
                <p class="paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, ut.</p>
            </div>

            <div class="align-def">
                <button type="button" class="btn">FREE CONSULTATION</button>
            </div>
        </div>

    </section>


    <section class="align align-ver" id="areas">

        <div class="container align">

            <div class="align align-ver">

                <div class="align-def sm-container-y">
                    <h1 class="h-primary">OUR PRACTICE AREAS</h1>
                </div>

                <div class="align-def align-ver">
                    <p class="paras">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde fugit rem
                        consectetur, odio distinctio ducimus in magnam. Necessitatibus, eligendi quam?</p>
                    <button class="btn" type="button">Learn More</button>
                </div>

            </div>

            <div class="align align-ver sectors">

                <div class="align-def align-ver">
                    <h4>Banking and Finance Law</h4>
                    <p class="sm-paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eum.</p>
                </div>

                <div class="align-def align-ver">
                    <h4>Commercial Law</h4>
                    <p class="sm-paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eum.</p>
                </div>

                <div class="align-def align-ver">
                    <h4>Cooperate Law</h4>
                    <p class="sm-paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eum.</p>
                </div>

                <div class="align-def align-ver">
                    <h4>Criminal Law</h4>
                    <p class="sm-paras">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, eum.</p>
                </div>

                <div class="align-def align-ver">
                    <button class="btn" type="button">More practice areas</button>
                </div>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="clients">

        <div class="align-def">
            <h1 class="h-primary">Happy Clients</h1>
        </div>

        <div class="container align">

            <div class="customers align align-ver">

                <p class="paras">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus velit animi
                    expedita totam accusamus atque nemo consectetur vel laudantium soluta inventore architecto, eius rem
                    obcaecati. Neque animi nihil sapiente vero!</p>

                <div class="align align-ver">
                    <h3>By : Ritche (Director, Microsoft)</h3>
                    <p class="paras">12 Aug 2021</p>
                </div>

            </div>

            <div class="customers align align-ver">
                <p class="paras">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus velit animi
                    expedita totam accusamus atque nemo consectetur vel laudantium soluta inventore architecto, eius rem
                    obcaecati. Neque animi nihil sapiente vero!</p>

                <div class="align align-ver">
                    <h3>By : Bjrane (Director, Bell Labs)</h3>
                    <p class="paras">21 Jun 2022</p>
                </div>
            </div>

            <div class="customers align align-ver">
                <p class="paras">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus velit animi
                    expedita totam accusamus atque nemo consectetur vel laudantium soluta inventore architecto, eius rem
                    obcaecati. Neque animi nihil sapiente vero!</p>

                <div class="align align-ver">
                    <h3>By : Golang (Director, Hexaware)</h3>
                    <p class="paras">11 Mar 2022</p>
                </div>
            </div>

        </div>

    </section>


    <section class="align-def align-ver" id="contact">

        <form action="" method="post">

            <div class="align align-ver">
                <h1 class="h-primary">CONTACT US</h1>
            </div>

            <div class="align align-ver">
                <input type="text" class="inps" placeholder="Enter your name" required id="name" name="name">
            </div>

            <div class="align align-ver">
                <input type="email" class="inps" placeholder="Enter your email" required id="email" name="email">
            </div>

            <div class="align align-ver">
                <input type="text" class="inps" placeholder="Enter your phone" required id="phone" name="phone">
            </div>

            <div class="align align-ver">
                <textarea name="message" id="message" class="inps" placeholder="Enter your message" cols="30" rows="10"></textarea>
            </div>

            <div class="align-sec">
                <button class="btn" type="submit">Send</button>
                <button class="btn" type="reset">Reset</button>
            </div>
        
        </form>

    </section>

    <footer class="align align-ver">
        
        <p class="paras">Copyright &copy; 2022, All rights are reserved</p>

        <ul class="align">
            <li class="align"><a href="#container">Home</a></li>
            <li class="align"><a href="#">Services</a></li>
            <li class="align"><a href="#">Attorneys</a></li>
            <li class="align"><a href="#">About Us</a></li>
            <li class="align"><a href="#contact">Contact Us</a></li>
        </ul>
    </footer>

</body>

</html>