<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Inventory | Account Creation</title>

    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/util.css">
    <link rel="stylesheet" href="../css/template_17.css">
    <link rel="stylesheet" href="../css/template_18.css">

</head>

<body>

    <section class="align align-ver" id="panel">

        <div class="container align align-ver">
            <h1 class="h-primary">ACCOUNT CREATION PORTAL</h1>
        </div>

        <div class="container align  main">

            <form class="align align-ver">

                <input type="text" placeholder="Enter your name" name="name" id="name" class="inps">
                <input type="email" class="inps" placeholder="Enter your email" id="email" name="email">
                <input type="text" class="inps" placeholder="Enter your username" id="username" name="username">
                <input type="password" class="inps" placeholder="Enter your password" id="password" name="password">
                <input type="text" class="inps" placeholder="Enter your store name" id="store_name" name="store_name">

                <div class="align-sec">
                    <button class="btn success-btn" type="button" id="button1">Create account</button>
                    <button class="btn danger-btn" type="reset">Reset</button>
                </div>

            </form>

        </div>

        <dialog class="align align-ver" id="cnf-msg">

            <p class="paras">Your store has been successfully created in our databases.</p>
            <button class="btn success-btn" type="button" id="close">Close</button>

        </dialog>

    </section>

    <script src="../js/template_17.js"></script>

</body>

</html>