<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lawyer</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_14.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/util.css">

</head>
<body>

    <section class="align-def align-ver" id="home">

        <div class="navbar align">

            <div class="nav-brand align">
                <p>JUSTICE</p>
            </div>

            <div class="nav-content align">

                <ul class="align">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Attorneys</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>

            </div>

        </div>

    </section>


    <section class="align align-ver" id="services">
        <h1 class="h-primary">OUR SERVICES</h1>
    </section>

    <section class="align" id="posts">

        <div class="align align-ver container">

            <div class="align-def">
                <h3>LABOUR AND EMPLOYMENT</h3>
            </div>

            <div class="align-def">
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid iste dolore ad illo rem. Aut pariatur eum nesciunt dignissimos magni?</p>
            </div>

            <div class="align-def">
                <a href="#">Learn More</a>
            </div>

        </div>

        <div class="align align-ver container">

            <div class="align-def">
                <h3>COOPERATE AND CIVIL LITIGATION</h3>
            </div>

            <div class="align-def">
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid iste dolore ad illo rem. Aut pariatur eum nesciunt dignissimos magni?</p>
            </div>

            <div class="align-def">
                <a href="#">Learn More</a>
            </div>
        
        </div>

        <div class="align align-ver container">

            <div class="align-def">
                <h3>INTELLECTUAL PROPERTY LAW</h3>
            </div>

            <div class="align-def">
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid iste dolore ad illo rem. Aut pariatur eum nesciunt dignissimos magni?</p>
            </div>

            <div class="align-def">
                <a href="#">Learn More</a>
            </div>

        </div>

        <div class="align align-ver container">

            <div class="align-def">
                <h3>CRIMINAL PROSECUTION AND DEFENSE</h3>
            </div>

            <div class="align-def">
                <p class="paras">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid iste dolore ad illo rem. Aut pariatur eum nesciunt dignissimos magni?</p>
            </div>

            <div class="align-def">
                <a href="#">Learn More</a>
            </div>

        </div>

    </section>

    <footer class="align align-ver">
        
        <p class="paras">Copyright &copy; 2022, All rights are reserved</p>

        <ul class="align">
            <li class="align"><a href="#container">Home</a></li>
            <li class="align"><a href="#">Services</a></li>
            <li class="align"><a href="#">Attorneys</a></li>
            <li class="align"><a href="#">About Us</a></li>
            <li class="align"><a href="#contact">Contact Us</a></li>
        </ul>
    </footer>
    
</body>
</html>