<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Inventory | Login Portal</title>

    <link rel="stylesheet" href="../css/alignment.css">
    <link rel="stylesheet" href="../css/template_21.css">
    <link rel="stylesheet" href="../css/util.css">
</head>

<body>

    <section id="update" class="align align-ver">

        <form action="#" class="align-sec" method="post">
            <input type="number" class="inps" placeholder="No of copies sold out" name="sold_copies" required>
            <input type="submit" class="inps success-btn" value="Update">
        </form>

    </section>

</body>
</html>